/* bacground */
body{
  background-image: url("lion.jpg");
  background-size: cover;
}
/* logo */
#logo{
    text-align: center;
}
/* titolo */
h1{
  color: lime;
  height: 70px;
}
/* riquadro opaco */
.bigdiv{
  background-color: rgba(0, 0, 0.1, 0.4);
  height: 890px;
  text-align: center;
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}
/* bottoni */
#bottoni{

text-align: center;
margin-top: 2%;

}
#bottoni{
  background-color: lime;
  width: 80%;
margin-left: 10%;
height: 40px;
}
/* font size */
.mono1{
color: white;
text-align: left;
margin-left: 40px;
}
.mono1{
  font-size: 40px;
}
.mono2{
  font-size: 20px;
}
/* stato carica  */
#carica2{
  width:40%;
  background-color:rgb(0, 200, 90);
  height: 40px;
}
#carica1{
  width:20%;
  background-color:rgb(180, 100, 10);
  height: 40px;
}
#carica3{
  width:5%;
  background-color:rgb(230, 10, 50);
  height: 40px;
  margin-left: 2px;
}
button{
  margin-top: 1%;
}
